@import "tailwindcss";

@theme {
  --color-primary: #93b19a;
  --color-primary-2: #5fa9d1;
  --color-accent: #788c90;
  --color-accent-2: #3e6168;
  --color-success: #9fdf1e;
  --color-success-2: #79b00b;
  --color-zen: #c8ab90;
  --color-warning: #ffd193;
  --color-warning-2: #fea228;
  --color-error: #ff6e6e;
  --color-error-2: #ff4b4b;
  --color-text: rgba(#000000, 0.7);
  --color-text-invert: #fff;

  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;

  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;

  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
}
